name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            prefix: -windows
          - os: ubuntu-latest
            prefix: -linux
    runs-on: ${{ matrix.os }}
    environment: publish
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: Set up Rust
        shell: bash
        run: |
          rustup toolchain install --profile minimal

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Set up cargo-edit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-binstall

      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true

      - name: Update Cargo.toml
        run: |
          cargo set-version ${{ github.event.inputs.version }}

      - name: Prepare release
        shell: bash
        id: prepare
        run: |
          cargo build -r
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            cp target/release/au2.exe ./target/au2${{ matrix.prefix }}.exe
            echo "au2_path=./target/au2${{ matrix.prefix }}.exe" >> $GITHUB_OUTPUT
          else
            cp target/release/au2 ./target/au2${{ matrix.prefix }}
            echo "au2_path=./target/au2${{ matrix.prefix }}" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          fail_on_unmatched_files: true
          files: |
            ${{ steps.prepare.outputs.au2_path }}
  publish:
    needs: build
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        shell: bash
        run: |
          rustup toolchain install --profile minimal

      - name: Set up cargo-edit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-binstall

      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true

      - name: Update Cargo.toml
        run: |
          cargo set-version ${{ github.event.inputs.version }}
          cargo update --workspace

      - name: Commit version change
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          git add Cargo.toml Cargo.lock
          git commit -m "release: v${{ github.event.inputs.version }}"

      - name: Login to crates.io
        uses: rust-lang/crates-io-auth-action@v1
        id: crates-io-auth

      - name: Publish to crates.io
        run: |
          cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.crates-io-auth.outputs.token }}

      - name: Push Tag
        run: |
          git push
